footer {
  border-top: 10px solid#aa7501;
  bottom: -2px;
  width: 100%;
  background: #d98b19;
}
@media screen and (max-width: 992px) {
  .push {
    height: 1080px;
  }
}

.main-content {
  color: white;
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #aa7501;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #aa7501;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  text-decoration: none;
  color: white;
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #aa7501;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #5a5a5a;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #aa7501;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #5a5a5a;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #ffffff;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #aa7501;
  padding-left: 10px;
  border: 1px solid #ffffff;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #aa7501;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover > .preto {
  color: black;
}
.right form .btn button:hover {
  background: white;
  color: black;
}

.btnRM {
  background: #328b68; /* Green */
  color: rgb(255, 255, 255);
  border: 3px solid white;
  text-align: center;
  border-radius: 25%;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 10px;
}
.btnRM:hover {
  transition: 0.5s ease;
  color: rgb(0, 0, 0);
  background: #ffffff; /* Green */
}

.button form .btn button:hober {
  background: white;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #aa7501;
}
.bottom center span {
  color: #aa7501;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
